* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #FDFDFD;
}
.divlogo {
	margin-top: 80px;
}
.divboton {
	margin-top: 88px;
}
.boton {
	background-color: #424242 !important;
	height: 68px !important;
	text-transform: capitalize;
	font-family: 'Bree Serif', serif;
	font-size: 1.4em;
	padding-top: 6.88px !important;
}
.siguenos {
	margin-top: 28px;
	color: #424242;
	font-family: 'Bree Serif', serif;
	font-size: 1em;
	font-weight: bold;
}
.redes {
	margin-top: 18px;

}